.home-panel{
   // background-color: #202d3d;
    vertical-align: center; 
    font-size: 20;
    //margin: 5;
}
.home{
    background-color: #202d3d;
    color: white;
    font-size: 30;
}

.description-label{
    margin-bottom: 15;
}